Django==1.7.2
django-contact-form==1.2
django-crispy-forms==1.4.0
django-debug-toolbar==1.4
ipdb==0.8.1
ipython==3.0.0
MySQL-python==1.2.5
pdb==0.1
Pillow==3.1.0
python-dateutil==2.4.2
python-gnupg==0.3.8
PyYAML==3.11
six==1.10.0
sqlparse==0.1.18
