{% extends "students/base.html" %}

{% load tz %}
{% load i18n %}
{% load el_pagination_tags %}

{% block meta_title %}{% trans "Action Journal (last 100 actions)" %}{% endblock meta_title %}

{% block title %}{% trans "Action Journal (last 100 actions)" %}{% endblock title %}

{% block content %}

{% paginate actions %}

<dl class="dl-horizontal">

    {% timezone "Europe/Kiev" %}

    {% for action in actions %}
    <div class="action-entry action-entry-{{action.model_name|lower}}">
        <dt class="action-entry-name">{{ action.model_verbose_name|capfirst}} ({{action.timestamp|date:"d/m/Y H:i"}} by {{action.user}})</dt>
        <dd class="action-entry-detail">{{ action.action_detail|capfirst }}</dd>
    </div>
    {% endfor %}

    {% endtimezone %}

</dl>

{% show_pages %}

{% endblock %}
