{% extends "students/base.html" %}


{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}

<!-- Start Students Listing -->
<table class="table table-hover table-strip">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
	<tr>
	    <th><a href="">#</a></th>
	    <th>
            <a href="{% url "groups" %}?order_by=title{% if reverse != '1'  %}&amp;reverse=1{% endif %}">Назва
            {% if order_by == 'title' and reverse != '1' %}&uarr;
            {% elif not order_by %}&uarr;
            {% elif order_by == 'title' and reverse == '1' %}&darr;
            {% endif %}
            </a>
        </th>
	    <th><a href="{% url "groups" %}?order_by=leader{% if reverse != '1'  %}&amp;reverse=1{% endif %}">Староста
            {% if order_by == 'leader' and reverse != '1' %}&uarr;
            {% elif order_by == 'leader' and reverse == '1' %}&darr;
            {% endif %}
            </a>
        </th>
	    <th>Дії</th>								
	</tr>							
    </thead>
    {% endwith %}
    <tbody>
	{% for group in groups %}
	<tr>
	    <td>{{ forloop.counter }}</td>								
	    <td><a title="Редагувати"  href='{% url "groups_edit" group.id %}'>{{ group.title }}</a></td>
	    <td><a title="Редагувати"  href='{% url "groups_edit" group.id %}'>{{ group.leader }}</a></td>
	    <td>
		<div class="btn-group">
		    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
			<li><a href="{% url "groups_edit" group.id %}">Редагування</a></li>
			<li><a href="/journal/{{ group.id }}">Відвідування</a></li>
			<li><a href="{% url "groups_delete" group.id %}">Вдалити</a></li>
		    </ul>
		</div>
	    </td>								
	</tr>
	{% endfor %}
	
    </tbody>						
</table>					
<!-- End Students Listing -->
{% if groups.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav>
    <ul class="pagination">
    <li><a href="{% url "groups" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a></li>
    {% for p in groups.paginator.page_range %}
    <li {% if groups.number == p %}class='active'{% endif %}>
        <a href="{% url "groups" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
    </li>
    {% endfor %}
    <li>
        <a href="{% url "groups" %}?page={{ groups.paginator.num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
        &raquo;</a>
    </li>
    </ul>
</nav>
{% endwith %}
{% endif %}
{% endblock content %}
