{% extends "students/base.html" %}


{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База студентів
    <a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
{% endblock title %}

{% block content %}

<!-- Start Students Listing -->
<table class="table table-hover table-strip">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
	<tr>
	    <th><a href="#">№</a></th>
	    <th>Фото</th>
	    <th><a href="{% url "home" %}?order_by=last_name{% if reverse != '1' %}&amp;reverse=1{% endif %}">Прізвище
		    {% if order_by == 'last_name' and reverse != '1' %}&uarr;
		    {% elif not order_by %}&uarr;
		    {% elif order_by == 'last_name' and reverse == '1' %}&darr;
		    {% endif %}
		</a>
	    </th>
	    <th><a href="{% url "home" %}?order_by=first_name{% if reverse != '1' %}&amp;reverse=1{% endif %}">Ім’я
		{% if order_by == 'first_name' and reverse != '1' %}&uarr;
		{% elif order_by == 'first_name' and reverse == '1' %}&darr;
		{% endif %}
		</a>
	    </th>
	    <th><a href="{% url "home" %}?order_by=ticket{% if reverse != '1' %}&amp;reverse=1{% endif %}">№ Білету
		{% if order_by == 'ticket' and reverse != '1' %}&uarr;
		{% elif order_by == 'ticket' and reverse == '1' %}&darr;
		{% endif %}
		</a>
	    </th>
	    <th>Дії</th>
	</tr>
    </thead>
    {% endwith %}
    <tbody>
	{% for student in students %}
	<tr>
	    <td>{{ forloop.counter }}</td>
	    <td>
		{% if student.photo %}
		<img heigh="30" width="30" src="{{ student.photo.url }}" class="img-circle"/>
		{% else %}
		<img heigh="30", width="30" src="{% static "img/default_user.jpg" %}" class="img-circle"/>
		{% endif %}
		</td>
	    <td><a title="Редагувати"  href='{% url "students_edit" student.id %}'>{{ student.last_name }}</a></td>
	    <td><a title="Редагувати"  href='{% url "students_edit" student.id %}'>{{ student.first_name }}</a></td>
	    <td>{{ student.ticket }}</td>
	    <td>
		<div class="btn-group">
		    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
			<li><a href="{% url "students_edit" student.id %}">Редагування</a></li>
			<li><a href="/journal/{{ student.id }}">Відвідування</a></li>
			<li><a href="{% url "students_delete" student.id %}">Видалити</a></li>
		    </ul>
		</div>
	    </td>
	</tr>
	{% endfor %}

    </tbody>
</table>
<!-- End Students Listing -->

{% if num_pages > 1 %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav>
    <ul class="pagination">
	<li><a href="{% url 'home' %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a></li>
    {% for p in page_list %}
	<li {% if p == page %}class='active'{% endif %}>
	    <a href="{% url "home" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
	</li>
	{% endfor %}
	<li>
	    <a href="{% url "home" %}?page={{ num_pages }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
		&raquo;</a>
	</li>
    </ul>
</nav>

{% endwith %}
{% endif %}

<!-- try ajax

<div id="demo"><h2>Let AJAX change this text</h2></div>
<button type="button" onclick="loadDoc()">Change Content</button>
<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
      document.getElementById("demo").innerHTML = xhttp.responseText;
    }
  };
  xhttp.open("GET", "students/next_page", true);
  xhttp.send();
}
</script> -->

{% endblock content %}
