{% extends "students/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}{{ page_title }}{% endblock meta_title %}
{% block title %}{{ page_title }}{% endblock title %}
{% block status_message %}

{% if messages %}
    <div class="alert alert-warning" role="alert">
    Будь-ласка, виправте наступні помилки
        <ul>
          {% for message in messages %}
            <li >{{ message }}</li>
          {% endfor %}
        </ul>

    </div>
{% endif %}
{% endblock %}


{% block content %}

    {% crispy form %}

{% endblock content %}
