{% extends "students/base.html" %}


{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База студентів
    <a class="btn btn-primary" href="{% url "students_add" %}">Додати Студента</a>
{% endblock title %}

{% block content %}


<!-- Start Students Listing -->
<form method="post" action="{% url "students-delete-bunch" %}">{% csrf_token %}
<button class="btn btn-danger" style="margin-top: 10px">Видалити</button> - видалити відмічених студентів
<table class="table table-hover table-strip">
    {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
	<tr>
        <th class="col-checkbox">Check</th>
	    <th><a href="#">№</a></th>
	    <th>Фото</th>
	    <th><a href="{% url "home" %}?order_by=last_name{% if reverse != '1' %}&amp;reverse=1{% endif %}">Прізвище
		    {% if order_by == 'last_name' and reverse != '1' %}&uarr;
		    {% elif not order_by %}&uarr;
		    {% elif order_by == 'last_name' and reverse == '1' %}&darr;
		    {% endif %}
		</a>
	    </th>
	    <th><a href="{% url "home" %}?order_by=first_name{% if reverse != '1' %}&amp;reverse=1{% endif %}">Ім’я
		{% if order_by == 'first_name' and reverse != '1' %}&uarr;
		{% elif order_by == 'first_name' and reverse == '1' %}&darr;
		{% endif %}
		</a>
	    </th>
	    <th><a href="{% url "home" %}?order_by=ticket{% if reverse != '1' %}&amp;reverse=1{% endif %}">№ Білету
		{% if order_by == 'ticket' and reverse != '1' %}&uarr;
		{% elif order_by == 'ticket' and reverse == '1' %}&darr;
		{% endif %}
		</a>
	    </th>
	    <th>Дії</th>
	</tr>
    </thead>
    {% endwith %}

    <tbody>

    {% include "students/students_list_page.html" %}

    </tbody>
</table>
</form>
<!-- End Students Listing -->


{% with object_list=students %}
    {% include "students/pagination.html" %}
{% endwith %}  


{% block extra_js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}


{% endblock content %}
