{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="uk">
	<head>
		<meta charset="UTF-8"/>
		<title>Сервіс Обліку Студентів</title>
		<meta name="description"
			value="Система Обліку Студентів Навчального Закладу" />
			
			<!-- Include Styles -->
			<link rel="stylesheet"
				href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="{% static "css/main.css" %}">
			
	</head>


	<body>
		
		<!-- Start Containet -->
		<div class="container">
			
			<!-- Start Header -->
			<div class="row" id="header">
			
				<!-- Logo -->
				<div class="col-xs-8">
					<h1>Сервіс обліку студентів</h1>
				</div>
			
				<!-- Groups selector -->
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>
					<select>
						<option value="">Усі студенти</option>
						<option value="">МтМ - 21, Подоба Віталій (№ 254)</option>
						<option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
					</select>
				</div>
			</div>
			<!-- End Header -->
			
			<!-- Start SubHeader -->
			<div class="row" id="sub-header">
				<div class="col-xs-12">
					<ul class="nav nav-tabs">
						<li role="presentation" class="active"><a href="{% url "home" %}">Студенти</a></li>
						<li role="presentation"><a href="/journal">Відвідування</a></li>
						<li role="presentation"><a href="{% url "groups" %}">Групи</a></li>
					</ul>
				</div>
			</div>
			<!-- End SubHeader -->
			
			<!-- Start Main Page Content-->
			<div class="row" id="content-columns">
				
				<div class="col-xs-12" id="content-column">
					
					<!-- Status Message -->
					<div class="alert alert-warning">Зміни скасовано</div>
					
					<h2>База студентів</h2>
					
					<!-- Add Student Button -->
					<a class="btn btn-primary" href="{% url "students_add" %}">Додати студента</a>
					
					<div>
						<!-- Start Students Listing -->
						<table class="table table-hover table-strip">
							<thead>
								<tr>
									<th><a href="">№</a></th>
									<th>Фото</th>
									<th><a href="">Прізвище &uarr;</a></th>
									<th><a href="#">Ім’я</a></th>
									<th><a href="#">№ Білету</a></th>
									<th>Дії</th>								
								</tr>							
							</thead>
							<tbody>
								{% for student in students %}
								<tr>
									<td>{{ forloop.counter }}</td>								
									<td><img heigh="30", width="30" src="{% static student.image %}" class="img-circle"></td>								
									<td><a title="Редагувати"  href='{% url "students_edit" student.id %}'>{{ student.last_name }}</a></td>
									<td><a title="Редагувати"  href='{% url "students_edit" student.id %}'>{{ student.first_name }}</a></td>
									<td>{{ student.ticket }}</td>								
									<td>
										<div class="btn-group">
											<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="{% url "students_edit" student.id %}">Редагування</a></li>
												<li><a href="/journal/{{ student.id }}">Відвідування</a></li>
												<li><a href="{% url "students_delete" student.id %}">Вдалити</a></li>
											</ul>
										</div>
									</td>								
								</tr>
								{% endfor %}
							</tbody>						
						</table>					
						<nav>
							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</nav>
						<!-- End Students Listing -->
					</div>
					
				</div>
				
			</div>
			<!-- End Main Page Content -->
			
			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2014 Сервіс обліку студентів
				</div>
			</div>
			<!-- End Footer -->		
						
		</div>
		<!-- End Container -->
		
						
		<!-- Javascript Section -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
			
	</body>


</html>
