/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	/* Ми додали відстань лише зверху елемента: -top */
	margin-top: 10px;
}

#footer {
	/* pадаємо верхню межу елемента: ширина лінії, тип лінії, 
	 * колір лінії */
	border-top: 1px solid #dddddd;
	/*задаємо внутрішю відстанб елемента до верхньго краю */
	padding-top: 10px;
    text-align: center;
}
html,
body{
    height: 100%;
}
#wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


#group-selector {
	margin: 10px 0;
}
#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}


#lang-select {
    margin-top: 14px;
    padding: 0;
}
#lang-select button {
    padding: 0;
}
.lang-select-form {
    display:inline-block;
}

#user-toolbar {
    margin-top: 14px;
    text-align: right;
}


#navigate-month {
	margin-bottom: 10px;
}
#buttonsEditStudent {
	border-top: 2px solid #dddddd;
	padding-top: 20px;
	background-color: #eeeeee;
}

/*
.help-block {
    display: inline;
}
*/

/* Form Styles */
textarea,
select,
input {
/*    max-width: 300px;*/
}

.form-field-width{
    max-width: 300px;
}

.col-checkbox{
    width: 50px;
}

td.day-box,
th.day-header {
    padding: 4px !important;
    vertical-align: middle !important;
    text-align: center;
}

#ajax-progress-indicator {
    display: none;
}

/* ajax error message */
#ajax-error{
    display: none;
}

#popUp{
    display: none;
}

#modal-message-block{
    margin: 10px 15px 20px;
    display: none;
}

.ajax-loader{
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.1);
    border-radius: 4px;
}
.ajax-loader img{
    position:absolute;    
    left:50%;
    top:50%;
    margin-left: -65px;
    margin-top: -20px;
}
.ajax-loader-modal{
    position:relative;
    width:130px;
    height: 20px;
    margin: auto;
}
.ajax-loader-modal img{
    display: none;
}

.dl-horizontal .action-entry-name{
    width: 360px;
}
.dl-horizontal .action-entry-detail{
    margin-left: 380px;
}
.action-entry{
    margin-top:4px;
    padding: 8px;
    border-radius: 4px;
}
.action-entry-monthjournal{
    background: #D6F7FF;
}
.action-entry-student{
    background: #cffdcc;
}
.action-entry-group{
    background: #fffec7;
}

#edit-profile-photo {
    margin-left: 20%;
}
