{% extends "students/base.html" %}


{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block meta_title %}{% trans "Contact Administrator" %}{% endblock meta_title %}

{% block title %}{% trans "Contact Administrator" %}{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            {% trans "Please, check the errors" %}
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block content %}

{% comment %}
<form method="post" role="form" class="form-horizontal">{% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if field.errors %} has-error {% endif %}">
        <span class="help-block">{{ field.errors }}</span>
        {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
{% endcomment %}

{% crispy form %}

{% endblock content %}
