{% extends "students/base.html" %}

{% load i18n %}

{% load assign_variable %} 

{% block meta_title %}
{% assign_variable user_info user as profile %} 
{{ profile.get_full_name|default:profile.username }}
{% endblock meta_title %}

{% block title %}
{% assign_variable user_info user as profile %} 
{{ profile.get_full_name|default:profile.username }}
{% endblock title %}


{% block content %}

{% assign_variable user_info user as profile %} 

{% if profile.username == user.username %}
<a href="{% url "password_change" %}">[ {% trans "Change password" %} ]</a><br><br>
{% endif %}

<table class="table table-stripped">
    {% if profile.email %}
    <tr>
        <td>{% trans "Email" %}:</td>
        <td>{{ profile.email }}</td>
    </tr>
    {% endif %}

    {% if profile.username %}
    <tr>
        <td>{% trans "Username" %}:</td>
        <td>{{ profile.username }}</td>
    </tr>
    {% endif %}

    {% if profile.date_joined %}
    <tr>
        <td>{% trans "Joined" %}:</td>
        <td>{{ profile.date_joined }}</td>
    </tr>
    {% endif %}

    {% if profile.stprofile.mobile_phone %}
    <tr>
        <td>{% trans "Mobile Phone" %}:</td>
        <td>{{ profile.stprofile.mobile_phone }}</td>
    </tr>
    {% endif %}
</table>

{% endblock content %}

