{% extends "students/base.html" %}


{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block meta_title %}{% trans "Contact Administrator" %}{% endblock meta_title %}

{% block title %}{% trans "Contact Administrator" %}{% endblock title %}

{% block status_message %}
    {% if form.errors %}
        <div class="alert alert-warning" role="alert">
            {% trans "Please, check the errors" %}
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block content %}

{% crispy form %}

{% endblock content %}
